<div class="container mt-4">
  <h2>Cadastrar Produto</h2>
  <p *ngIf="produtoForm">Formulário está carregado</p>
  <p *ngIf="!produtoForm">Formulário ainda não carregado</p>

  <form [formGroup]="produtoForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label for="nome">Nome do Produto</label>
      <input id="nome" type="text" class="form-control" formControlName="nome">
    </div>

    <div class="form-group mb-3">
      <label for="precoUnitario">Preço Unitário</label>
      <input id="precoUnitario" type="number" class="form-control" formControlName="precoUnitario">
    </div>

    <div class="form-group mb-3">
      <label for="quantidade">Quantidade</label>
      <input id="quantidade" type="number" class="form-control" formControlName="quantidade">
    </div>

    <div class="form-group mb-3">
      <label for="fornecedorId">Fornecedor</label>
      <input id="fornecedorId" type="number" class="form-control" formControlName="fornecedorId">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="produtoForm.invalid">Salvar</button>
  </form>
</div>
