<!-- app.component.html -->
<div class="app-container">
  <aside class="sidebar">
    <h2 class="app-title">Controle de Pedidos de Material e Medicamentos</h2>
    <nav class="nav-menu">
      <ul>
        <!-- Pedidos -->
        <li>
          <strong>Pedidos</strong>
          <ul>
            <li><a routerLink="/pedido" routerLinkActive="active">Lista de Pedidos</a></li>
            <li><a routerLink="/pedido/novo" routerLinkActive="active">Novo Pedido</a></li>
          </ul>
        </li>
        <!-- Compradores -->
        <li>
          <strong>Compradores</strong>
          <ul>
            <li><a routerLink="/comprador" routerLinkActive="active">Lista de Compradores</a></li>
            <li><a routerLink="/comprador/novo" routerLinkActive="active">Novo Comprador</a></li>
          </ul>
        </li>
        <!-- Fornecedores -->
        <li>
          <strong>Fornecedores</strong>
          <ul>
            <li><a routerLink="/fornecedor" routerLinkActive="active">Lista de Fornecedores</a></li>
            <li><a routerLink="/fornecedor/novo" routerLinkActive="active">Novo Fornecedor</a></li>
          </ul>
        </li>
        <!-- Produtos -->
        <li>
          <strong>Produtos</strong>
          <ul>
            <li><a routerLink="/produto" routerLinkActive="active">Lista de Produtos</a></li>
            <li><a routerLink="/produto/novo" routerLinkActive="active">Novo Produto</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
    <footer class="footer">
      <span>&copy; {{ currentYear }} - Versão 1.a</span>
    </footer>
  </main>
</div>