<div class="container">
    <h1>Lista de Pedidos</h1>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome do Comprador</th>
          <th>Nome do Fornecedor</th>
          <th>Total de Produtos</th>
          <th>Valor Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidos">
          <td>{{ pedido.id }}</td>
          <td>{{ pedido.nomeComprador }}</td>
          <td>{{ pedido.nomeFornecedor }}</td>
          <td>{{ pedido.totalProdutos }}</td>
          <td>{{ pedido.valorTotal | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  